@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos institucionais globais */
body {
  @apply bg-gray-50 text-gray-900;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
